<link rel="stylesheet" href="{{ url_for('static',filename='css/adminhome.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% extends 'admin_layout.html' %}
{% block title %}User Accoun{% endblock %}
{% block body %}
	<section class="user">
		<div class="container">
			<div class="col-md-12">
				<h1>User Account</h1>
				<br>
			</div>	
			<div class="col-md-8 offset-md-3 form">
                <div class="form-group">
					<input id="myInput" style="width: 400px" class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="off" autofocus>
				</div>
            </br>
			</div>
				<div class="col-md-12">
					<table class="table">
						<thead class="thead-dark">
							<tr style="color: #919191a4;">
								<th>User ID</th>
								<th>User Name</th>
								<th>Email</th>
								<th>Address</th>
                                <th>Phone No.</th>
                                <th>Password</th>
                                <th> </th>
							</tr>
						</thead>
						{% for row in detail%}
						<tbody id="myTable">
							<tr>
								<td>{{row[0]}}</td>
								<td>{{row[1]}}</td>
								<td>{{row[2]}}</td>
								<td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                                <td>{{row[5]}}</td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
				</div>
		</div>
	</section>
<script>
	$(document).ready(function(){
		$("#myInput").on("keyup", function() {
		var value = $(this).val().toLowerCase();
		$("#myTable tr").filter(function() {
			$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		});
		});
	});
</script>
{% endblock %}	