<header>
    <nav>
        <div class="header">
            <a class="navbar-brand" href="/adminhome"><img src="static/images/logo.png"></a>
            <div class="header-right">
                <a class="nav-link" href="/adminuser">User Account</a>
                <a class="nav-link" href="/adminorder">Order</a>
                <a class="nav-link" href="/adminproduct">Product</a>
                <a class="nav-link" href="/adminwarehouse">Warehouse</a>
                <a class="nav-link" href="/adminlogout">Logout</a>
            </div>
        </div>
    </nav>
</header>	